main {
  margin: 6rem 1rem;

  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

main > h1 {
  text-align: center;
}

main > div {
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.card {
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.card svg {
  width: 25px;
  height: 25px;
}

.card .display {
  width: 100%;
  height: 250px;

  background-color: lightcoral;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card .display > p {
  padding: 1rem;

  font-size: 2.8rem;
  text-align: center;

  color: var(--color-text-on-image);
}

.card .description {
  padding: 1rem;

  display: flex;
  gap: 20px;
  flex-direction: column;
}

.card .description > h1 {
  text-align: center;
}

.card .description > p:last-of-type {
  font-size: 1.2rem;

  color: var(--color-body-text);
}

.card .name {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card .name > div {
  display: flex;
  gap: 20px;
}

@media (max-width: 290px) {
  main {
    margin: 4rem 0;
  }

  main > div {
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  main {
    margin: 3rem 5rem 10rem 5rem;
  }

  main > h1 {
    font-size: 2.8rem;
    text-align: start;
  }

  main > div {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .card .display > p {
    font-size: 2rem;
  }

  .card .name {
    justify-content: space-between;
  }

  .card .name > p {
    font-size: 1.2rem;
  }

  .card .description > p:last-of-type {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  main {
    margin: 12rem 5rem 16rem 5rem;
  }

  main > div {
    grid-template-columns: repeat(auto-fit, minmax(0.3fr, 1fr));
  }
}

@media (min-width: 1440px) {
  main > div {
    gap: 6rem;
  }

  .card .display > p {
    font-size: 3rem;
  }

  .card .name > p {
    font-size: 2rem;
  }

  .card .name > div > svg {
    width: 40px;
    height: 40px;
  }

  .card .description > p:last-of-type {
    font-size: 1.8rem;
  }
}

@media (min-width: 2560px) {
  .card .display > p {
    font-size: 4rem;
  }

  .card .name > p {
    font-size: 2.2rem;
  }

  .card .description > p:last-of-type {
    font-size: 2rem;
  }
}
